
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Dummy Banking System" />
        <meta name="author" content="Mahud Hassan Firoz" />
        <title>
            {% block head_title %}Banking System{% endblock %}
        </title>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

        {% block head_extra %}{% endblock %}
        <style>
            
            footer {
                position: fixed !important;
                bottom: 0 !important;
                width: 100%;
            }
        </style>
    </head>
    <body class="bg-blue-600">
        {% block body %}
            {% include 'core/navbar.html' %}
            <div class="lg:container lg:mx-auto" id="main">
                {% include 'core/messages.html' %}
                {% block content %}
                <!-- Add content here -->
                {% endblock %}
            </div>
            {% include 'core/footer.html' %}

        {% endblock %}
    </body>

</html>